<div id="login" class="page">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8 col-sm-12">
                <div class="jumbotron">
                    <h1 class="display-4 text-center">Login to WeeChat</h1>

                    <form method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input class="form-control" type="text"
                                   id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" type="password"
                                   id="password" name="password" required>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary">Login</button>
                        </div>
                        <div class="form-group text-center">
                            or I need <a href="/sign-on">new account</a>
                        </div>
                        <input name="login_form_submitted"
                               type="hidden"
                               value="1">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
