<div id="register" class="page">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 col-sm-12">
                <div class="jumbotron">
                    <h1 class="display-4 text-center">Register to WeeChat</h1>

                    <div class="flex-md-row d-flex">
                        <div class="col-md-6 col-sm-12">
                            <div id="alerts"
                                 class="alert alert-danger<?= $errors ? '' : ' invisible' ?>">
                              <?php if ($errors): ?>

                                <?php foreach ($errors as $field => $field_errors): ?>
                                  <?php foreach ($field_errors as $error): ?>
                                          <p data-for-field="<?= $field ?>"><?= $error ?></p>
                                  <?php endforeach; ?>
                                <?php endforeach; ?>

                              <?php endif; ?>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">

                            <form method="post">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input class="form-control<?= isset($errors['username']) ? ' is-invalid' : '' ?>"
                                           type="text" id="username"
                                           name="username"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="email">E-mail address</label>
                                    <input class="form-control<?= isset($errors['email']) ? ' is-invalid' : '' ?>"
                                           type="email" id="email" name="email"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input class="form-control<?= isset($errors['password']) ? ' is-invalid' : '' ?>"
                                           type="password" id="password"
                                           name="password"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="password_again">Repeat
                                        Password</label>
                                    <input class="form-control<?= isset($errors['password']) ? ' is-invalid' : '' ?>"
                                           type="password" id="password_again"
                                           name="password_again" required>
                                </div>
                                <div class="form-group text-center">
                                    <button class="btn btn-primary">Register
                                    </button>
                                </div>
                                <div class="form-group text-center">
                                    or I am already registered <a
                                            href="/sign-in">let me
                                        login</a>
                                </div>
                                <input name="register_form_submitted"
                                       type="hidden"
                                       value="1">
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
