<main>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8 col-sm-12 text-center">
                <div class="jumbotron">
                    <h1 class="display-4">WeeChat</h1>
                    <a href="/sign-in" class="btn btn-primary">Login</a>
                    <a href="/sign-on" class="btn btn-primary">Register</a>

                </div>
            </div>
        </div>
    </div>
</main>

