<main>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8 col-sm-12 text-center">
                <div class="jumbotron">
                    <h2 class="display-4">We're sorry</h2>
                    <p class="lead">On server occured an error</p>
                </div>
            </div>
        </div>
    </div>
</main>


