<main>

    <div class="container-fluid">
        <div class="row flex-sm-row flex-sm-wrap justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 card">
                <form method="post" class="card-body">
                    <div class="card-title">
                        <span class="display-4">Create room</span>
                    </div>
                    <div class="form-group row">
                        <label for="room_name" class="col-sm-2 col-lg-4">Name of
                            Room</label>
                        <div class="col-sm-10 col-lg-8">
                            <input type="text" id="room_name" name="room_name"
                                   class="form-control" required>
                        </div>
                        <div class="offset-sm-8 offset-lg-6 offset-xl-4 col-sm-4 col-lg-6 col-xl-8">
                            <div class="btn-group button-actions">
                                <a href="/rooms" class="btn btn-outline-dark">&slarr; Back to main page</a>
                                <button class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
