<main>
    <div class="container-fluid">
        <div class="row flex-sm-row flex-sm-wrap justify-content-center">
            <div class="col-3">
                <div class="card" id="notify-dashboard">
                    <div class="card-body">
                        <h5 class="card-title">My notifications</h5>
                        <a href="/notify-all-readed" class="card-link">Mark all as readed</a>

                        <div class="list-group">
                          <?php foreach ($notifications as $notification): ?>
                              <a href="<?= $notification->getEvent()->getLink() ?>"
                                 class="list-group-item list-group-item-action<?= $notification->isReaded() ? '' : ' active'?>"><?= $notification->getEvent()->getMessage() ?></a>
                          <?php endforeach; ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Users</h5>
                        <h6 class="card-subtitle mb-2 text-muted">List of
                            users</h6>

                        <div class="list-group">
                          <?php foreach ($users as $user): ?>
                              <a href="/create-private-room/<?= $user->getId() ?>"
                                 class="list-group-item list-group-item-action"><?= $user->getUsername() ?>
                                  <span class="badge <?= $user->isOnline() ? 'badge-success' : 'badge-danger' ?> badge-pill">&nbsp;</span></a>
                          <?php endforeach; ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Public Rooms</h5>
                        <h6 class="card-subtitle mb-2 text-muted">List of public
                            rooms</h6>

                        <a href="/create-room" class="card-link">&plus; Create a room</a>
                        <div class="list-group">
                          <?php foreach ($rooms as $room): ?>
                              <a href="/room/<?= $room->getId() ?>"
                                 class="list-group-item list-group-item-action"><?= $room->getName() ?></a>
                          <?php endforeach; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
