<main data-room-id="<?= $roomId ?>">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1><?= $roomName ?></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <h4>Users</h4>
                <div class="list-group" id="participans-container">
                  <?php foreach ($participans as $user): ?>
                      <a href="#" data-id="<?= $user->getId() ?>"
                         data-username="<?= $user->getUsername() ?>"
                         class="list-group-item list-group-item-action"><?= $user->getUsername() ?>
                          <span class="badge <?= $user->isOnline() ? 'badge-success' : 'badge-danger' ?> badge-pill">&nbsp;</span></a>
                  <?php endforeach; ?>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column">
                    <div class="list-group flex-grow-1" id="messages-container">
                      <?php foreach ($messages as $message): ?>
                          <div class="list-group-item list-group-item-action row">
                              <div class="col-4">
                                <?= $message->getSenderName() ?>
                                <?php if ($message->canDelete()): ?>
                                <a href="/message/delete/<?= $message->getId() ?>">&lbrack;Delete&rbrack;</a>
                                <?php endif; ?>
                              </div>
                              <div class="col-auto"><?= $message->getMessage() ?></div>
                          </div>
                      <?php endforeach; ?>
                    </div>

                    <form method="post" class="flex-grow-0">
                        <div class="form-group row">
                            <label for="message"
                                   class="col-sm-12 col-md-2 col-lg-1"><?= $currentUser->getUsername() ?></label>
                            <div class="col-sm-12 col-md-9 col-lg-10">
                                <input type="text" id="message" name="message"
                                       class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-1">
                                <div class="button-actions">
                                    <button class="btn btn-block btn-primary">
                                        Send
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</main>
