<?php
/**
 * Layout template
 */
?>
<!DOCTYPE html>
<html>
<head>
    <title><?= isset($title) ? htmlspecialchars($title) . ' | WeeChat' : 'WeeChat' ?></title>
  <?= $styles ?>

</head>
<body>

<?php
if ($currentUser->isAuthenticated()) {
  include __DIR__ . DIRECTORY_SEPARATOR . 'components' . DIRECTORY_SEPARATOR . 'header.phtml';
}
?>

<?= $content ?>

<?= $scripts ?>
</body>
</html>

