<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/rooms">WeeChat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end"
             id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav mr-sm-2">
                <li class="nav-item">
                    <p class="nav-text">Currently logged as:
                        <strong><?= $currentUser->getUsername() ?></strong></p>
                </li>
                <li class="nav-item">
                    <a class="nav-link<?= ($notificationCount > 0 ?' active': '') ?>" href="/" id="notify-panel">
                        Notifications
                        <span class="badge badge-danger badge-pill <?= $notificationCount < 0 ?: ' invisible' ?>"><?= $notificationCount ?></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
